/*=================
 | CSS3 Variables |
 =================*/
 :root {
    --circleCount: 30;
    --spanCount: 10;
 }
 *{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
 }
body {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #111;
}
.loader {
   position: relative;
   width: 300px;
   height: 300px;
   transform-style: preserve-3d;
   transform: rotateX(45deg);
}
.loader .circle,
.loader .circle .wrapper,
.loader .circle .wrapper span {
   position: absolute;
   top: 0;
   left: 50%;
   transform-style: preserve-3d;
   transform: translateX(-50%);
}
.loader .circle {
   width: 50%;
   height: 50%;
   transform-origin: bottom;
   transform: translateX(-50%) translateY(-50px) rotateZ(calc((360deg / var(--circleCount)) * var(--c))) rotateY(90deg);
}
.loader .circle .wrapper {
   left: 0;
   width: 100%;
   height: 100%;
   transform: translateX(0);
   animation: wrapper 20s linear infinite;
}
.loader .circle .wrapper span{
   width: 0;
   height: 50%;
   transform-origin: bottom;
   transform: translateX(-50%) rotateZ(calc((360deg / var(--spanCount)) * var(--s)));
}
.loader .circle .wrapper span::before{
   content:"";
   position: absolute;
   top: 0;
   left: 50%;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   transform-style: preserve-3d;
   background: hsl(calc((360 / var(--spanCount)) * var(--s)), calc(var(--s) * 50%), 50%);
   box-sizing: border-box;
   backface-visibility: hidden;
   transform: translateX(-50%) rotateX(90deg);
   box-shadow: 0 0 5px hsl(calc((360 / var(--spanCount)) * var(--s)), calc(var(--s) * 50%), 50%),
               0 0 10px hsl(calc((360 / var(--spanCount)) * var(--s)), calc(var(--s) * 50%), 50%);
   
}
@keyframes wrapper {
   from {
      transform: rotateZ(0deg);
   }
   to {
      transform: rotateZ(360deg);
   }
}