/*====Reset all the element default style====*/
        *{margin: 0; padding: 0;}
        *, *::before, *::after {
            box-sizing: border-box;
        }
        
        /*====CSS3 variables====*/ 
        :root { 
            --stick_length: 30; 
            --dur: 1.5s; 
            --timing-function: ease-in-out; 
            --loop: 3; //change this loop value for batter experiance 10, 13 ,14, 15
        } 
        body { 
            min-height: 100vh; 
            display: flex; 
            align-items: center;
            justify-content: center; 
            background: #111; 
        } 
        main.wrapper { 
            position: relative; 
            width: 250px; 
            height: 250px; 
        }
        main.wrapper .stick { 
            position: absolute; 
            top: 0; 
            left: 50%; 
            transform: translateX(-50%); 
            width: 3px; 
            height: 50%;
            transform-origin: bottom; 
            transform: rotate(calc((360deg / var(--stick_length)) * var(--i)));
            /*===transform: rotate((360deg / stick_length) * i)===*/
        }
        main.wrapper .stick::before {
            content:"";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: hsl(calc((360deg / var(--stick_length)) * var(--i)),100%, 50%);
            box-shadow: 0 0 20px hsl(calc((360deg / var(--stick_length)) * var(--i)),100%, 50%),
                        0 0 40px hsl(calc((360deg / var(--stick_length)) * var(--i)),100%, 50%),
                        0 0 60px hsl(calc((360deg / var(--stick_length)) * var(--i)),100%, 50%),
                        0 0 80px hsl(calc((360deg / var(--stick_length)) * var(--i)),100%, 50%),
                        0 0 100px hsl(calc((360deg / var(--stick_length)) * var(--i)),100%, 50%);
            
            animation: animate var(--dur) var(--timing-function) infinite; 
            animation-delay:  calc(var(--dur) * ((var(--i) / var(--stick_length)) * var(--loop)));}

        /*===animation-delay: dur * {(i / stick_length) * loop}====*/
        
        @keyframes animate {
            0%, 100% {
                top: 0;
            }
            50% {
                top: 90%;
                transform: translateX(-50%) scale(0.5);
            }
        }